@import "../../design/variables.scss";

.results {
  width: 50%;
  background-color: $grey;
  margin-left: auto;
  margin-top: 5rem;
  margin-bottom: 5rem;
  border: 3px solid $light;
}

.spinner {
  width: 25%;
  margin: auto;
  text-align: center;
  padding: 5rem;
}
