@import "../../design/variables.scss";

.request {
  width: 60%;
  height: 2rem;
  background-color: $grey;
  margin: auto;
  margin-bottom: 5rem;
  border: 3px solid $light;
}

// button{
//   background-color: $grey;
// }

// button:hover {
//   background-color: $light;
// }

.crud {
  background-color: $grey;
}

.crud:hover {
  background-color: $light;
}

.crud:focus {
  background-color: $darkblue;
  color: $light;
}

.entered {
  color: $darkblue;
  padding: .5rem;
  margin: auto;
}

.input {
  padding: 2rem;
  text-align: center;
}