@import "../../design/variables.scss";

.request {
  width: 60%;
  height: 2rem;
  background-color: $grey;
  margin: auto;
  margin-bottom: 5rem;
  border: 3px solid $light;
}

// button{
//   background-color: $grey;
// }

// button:hover {
//   background-color: $light;
// }

.crud {
  background-color: $grey;
  border: none;
  border-radius: 2px;
  margin-left: 1rem;
  // margin-right: 1rem;
  margin-bottom: 1rem;
}

.crud:hover {
  background-color: $vlight;
  cursor: pointer;
}

.crud:focus {
  background-color: $darkblue;
  color: $light;
  border-radius: 2px;
}

.entered {
  color: $darkblue;
  padding: .5rem;
  margin: auto;
}

.input {
  padding: 2rem;
  text-align: center;
}


input {
  padding: 12px;
  margin: 5px;
  width: 50%;
}

.body {
  height: 2rem;
}

label {
  color: $vlight;
}

.form {
  margin-top: 5rem;
}

.go {
  margin-top: 1rem;
  margin-left: 1rem;
}

.go:hover {
  background-color: $vlight;
  cursor: pointer;
}

.go:focus {
  background-color: $darkblue;
  color: $light;
  border-radius: 2px;
}