@import "../../design/variables.scss";

header {
  background-color: $darkblue;
  padding: .5rem;
  margin: 0;
  width: 100%;
  position:absolute;
  left:0;
  top:0;
  right:0;
  margin-bottom: 5rem;
}

h1 {
  padding-left: 8rem;
  padding-right: 8rem;
  color: $vlight;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: $darkblue;
}

li {
  float: left;
}

li a {
  display: block;
  color: $grey;
  text-align: center;
  padding: 14px 18px;
  text-decoration: none;
  margin-top: .6rem;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  color: $light;
}

li a:focus {
  color: $vlight;
}