@import "../../design/variables.scss";

footer {
  background-color: $darkblue;
  padding: .5rem;
  width: 100%;
  margin: 0; 
  position:fixed;
  left:0;
  bottom:0;
  right:0;
}

.copyright {
  text-align: center;
  color: $light;
}