@import "../../design/variables.scss";

.history{
  width: 50%;
  margin-right: auto;
  float: left;

  .historyTitle {
    color: $vlight;
  }
  
  p {
    color: $vlight;
    button {
      background-color: $vlight;
      margin-right: .5rem;
      color: $vdarkblue;
    }
    button:hover {
      background-color: $vlight;
      cursor: pointer;
    }
    
    button:focus {
      background-color: $darkblue;
      color: $light;
      border-radius: 2px;
    }
  }
}
